@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    background: linear-gradient( #25abf8, #87e1f8);
    background-repeat: no-repeat;
    min-height: 100vh;
}

.faq-title {
    text-align: center;
}

.faq-card {
    border: 2px solid #383838;
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s ease;
}

.faq-active{
    background: transparent;
    background-repeat: no-repeat;
    background-image: url("../assets/images/question_mark.png");
    background-size: 120px;
    background-position: bottom right;
    box-shadow: 0.5px 4px 4px #383838;
}

.faq-card, .faq-active {
    background-color: #fcfcfc;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.toggle-btn {
    border-radius: 50%;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px solid black;
    background-color: #f1f1f181;
}

.toggle-btn, .toggle-icon {
    width: 20px;
    height: 20px;
}

.hidden-text {
    display: none;
}

.faq-text {
    font-weight: 500;
    font-style: italic;
}

@media screen and (max-width: 400px) {
    .faq-card {
        max-width: 250px;
    }

    .faq-text {
        font-size: 18px;
    }
}